<ng-container *ngIf="user$ | async as user">
  <div class="col container mt-2">
    <div class="row justify-content-around">
      <div class="col-12 col-md-3">
        <div class="row">
          <img class="img img-fluid rounded-circle" [src]="user.avatar_url" alt="Card image cap">
        </div>
        <div class="row mt-2">
          <a [routerLink]="['/users']" routerLinkActive="active" [queryParams]="{q: query}">
            <small>Close Profile</small>
          </a>
        </div>
        <div class="row">
          <a [href]="user.html_url" target="_blank">
            <small>
              Go to {{user.login}} github page
            </small>
          </a>
        </div>
      </div>
      <div class="m-2 col-12 col-md-6">
        <span class="h2">{{user.login}}</span>
        <!-- <div class="row"> URL: {{user.url}}</div>
        <div class="row">HTML URL: {{user.html_url}}</div>
        <div class="row">FOLLOWERS URL: {{user.followers_url}}</div>
        <div class="row">FOLLOWING URL: {{user.following_url}}</div>
        <div class="row">GISTS URL: {{user.gists_url}}</div>
        <div class="row">STARRED URL: {{user.starred_url}}</div>
        <div class="row">SUBSCRIPTIONS URL: {{user.subscriptions_url}}</div>
        <div class="row">ORGANIZATIONS URL: {{user.organizations_url}}</div>
        <div class="row">REPOS URL: {{user.repos_url}}</div>
        <div class="row">EVENTS URL: {{user.events_url}}</div>
        <div class="row">RECEIVED URL: {{user.received_events_url}}</div> -->
        <div class="row"><strong>Type: </strong>{{user.type}}</div>
        <div class="row"><strong>Site admin: </strong>{{user.site_admin}}</div>
        <div class="row"><strong>Name: </strong>{{user.name}}</div>
        <div class="row"><strong>Company: </strong>{{user.company}}</div>
        <div class="row"><strong>Blog: </strong>{{user.blog}}</div>
        <div class="row"><strong>Location: </strong>{{user.location}}</div>
        <div class="row"><strong>email: </strong>{{user.email}}</div>
        <div class="row"><strong>Hireable: </strong>{{user.hireable}}</div>
        <div class="row"><strong>Bio: </strong>{{user.bio}}</div>
        <div class="row"><strong>Twitter username: </strong>{{user.twitter_username}}</div>
        <div class="row"><strong>Public Repos: </strong>{{user.public_repos}}</div>
        <div class="row"><strong>Public gists: </strong>{{user.public_gists}}</div>
        <div class="row"><strong>Followers: </strong>{{user.followers}}</div>
        <div class="row"><strong>Following: </strong>{{user.following}}</div>
        <div class="row"><strong>Created at: </strong>{{user.created_at | date}}</div>
        <div class="row"><strong>Updated at: </strong>{{user.updated_at | date}}</div>
      </div>
    </div>
    <hr>
    <div class="row mt-2">
      <div class="col-12 col-md-6">
        <div class="display-4">Followers</div>
        <ul *ngIf="followers$ | async as followers">
          <li *ngFor="let follower of followers">
            <a [href]="follower.html_url" target="_blank">{{follower.login}}</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <div class="display-4">Repositories</div>
        <ul *ngIf="repositories$ | async as repos">
          <li *ngFor="let repo of repos">
            <a [href]="repo.html_url" target="_blank">{{repo.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>

